# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
venv/
.venv/
*.db

# Node
node_modules/
dist/

# Environment
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# Archives
*.zip
